<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
      org.springframework.web.context.support.AnnotationConfigWebApplicationContext
  	</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>com.javahash.spring.config.AppConfiguration</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>SpringApplication</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>com.javahash.spring.controller.rest.EmployeesController</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet> 

	<servlet-mapping>
		<servlet-name>SpringApplication</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping> 

</web-app>